<!DOCTYPE html>
<html lang="et">
<head>

    <meta charset="utf-8">

    <!-- Mobile-first -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

    <title>Aarde mäng: ülesanne</title>

</head>

<body style="margin: 20px" ng-app="treasure-hunt">

<script type="text/javascript" charset="UTF-8">
    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == variable) {
                return pair[1];
            }
        }
        return("");
    }
</script>

<div ng-controller="assignment">
    <div class="progress" ng-if="completed">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{completed}}"
             aria-valuemin="0"
             aria-valuemax="{{total}}" style="width:{{100 / (total/completed) | number:0}}%">
            on läbitud {{completed}}/{{total}}
        </div>
    </div>

    <div>
        <h3 class="text-right text-info">
            <script type="text/javascript">document.write(getQueryVariable("teamTitle"))</script>
        </h3>
    </div>

    <div class="panel panel-default" ng-if="text">
        <div class="panel-body">{{text}}</div>
    </div>
</div>

<div ng-controller="submit-solution" ng-submit="submitSolution()" ng-show="text">
    <form name="solution-submit-form" method="">
        <input type="text" class="form-control" name="solution-text" placeholder="lahendus..." ng-model="solution"
               required><br>
        <input type="submit" class="btn btn-success btn-lg center-block" name="submit-solution"
               value="Esita">
    </form>

    <div class="alert alert-danger" style="margin-top: 10px" ng-if="sError">
        {{sError}}
    </div>

    <div class="alert alert-danger" style="margin-top: 10px" ng-if="sMessages.error"
         ng-repeat="se in sMessages.error">
        {{se}}
    </div>

    <div class="alert alert-warning" style="margin-top: 10px" ng-if="sMessages.warning"
         ng-repeat="sw in sMessages.warning">
        {{sw}}
    </div>

    <div class="alert alert-success" style="margin-top: 10px" ng-if="sMessages.success"
         ng-repeat="ss in sMessages.success">
        {{ss}}
    </div>
</div>

<div  ng-controller="get-new-assignment" ng-submit="getNewAssignment()" ng-show="!text"
      style="margin-top:10px">
    <form name="next-assignment-form" method="">
        <input type="submit" class="btn btn-primary btn-lg center-block"
               name="get-next-assigment" value="Saada uut ülesannet">
    </form>

    <div class="alert alert-danger" style="margin-top: 10px" ng-show="aError">
        {{aError}}
    </div>

    <div class="alert alert-danger" style="margin-top: 10px" ng-if="aMessages.error"
         ng-repeat="ae in aMessages.error">
        {{ae}}
    </div>

    <div class="alert alert-warning" style="margin-top: 10px" ng-if="aMessages.warning"
         ng-repeat="aw in aMessages.warning">
        {{aw}}
    </div>

    <div class="alert alert-success" style="margin-top: 10px" ng-if="aMessages.success"
         ng-repeat="as in aMessages.success">
        {{as}}
    </div>
</div>

<script type="text/javascript" charset="UTF-8">

    function getParameter(theParameter) {
        var params = window.location.search.substr(1).split('&');

        for (var i = 0; i < params.length; i++) {
            var p = params[i].split('=');
            if (p[0] == theParameter) {
                return decodeURIComponent(p[1]);
            }
        }
        return false;
    }

    var app = angular.module("treasure-hunt", []);
    var gameId = getParameter("gameId");
    var teamId = getParameter(("teamId"));
    var teamTitle = getParameter(("teamTitle"));
    var url = "/api/games/" + gameId + "/teams/" + teamId;

    app.controller("assignment", function ($scope, $http) {
        $http.get(url).success(function (data) {
            if (data.currentassignment) {
                $scope.text = data.currentassignment.text;
            }
            $scope.total = data.challengesTotal;
            $scope.completed = data.challengesCompleted;
        }).error(function (data, status) {
            $scope.aError=status + ": Andmete pärimine ebaõnnestus";
        });
    });

    app.controller("submit-solution", function ($scope, $http, $window) {

        $http.get(url).success(function (data) {
            $scope.text = data.currentassignment;
        }).error(function (data, status) {
            $scope.sError=status + ": Andmete pärimine ebaõnnestus";
        });

        $scope.submitSolution = function () {
            var solutionText = $scope.solution;
            var json = JSON.stringify({solution: solutionText});

            $http.post(url, json).success(function (data) {
                $scope.sMessages = data.messages;
                if (data.messages.success) {
                    $window.location.reload();
                }
            }).error(function (data, status) {
                $scope.sError=status + ": Andmete saatmine ebaõnnestus";
            });
        };
    });

    app.controller("get-new-assignment", function ($scope, $http, $window) {

        $http.get(url).success(function (data) {
            $scope.text = data.currentassignment;
        }).error(function (data, status) {
            $scope.sError=status + ": Andmete pärimine ebaõnnestus";
        });

        $scope.getNewAssignment = function () {
            $http({
                url: url,
                params: {getNewAssignment: 1},
                method: 'GET',
                headers: {'Content-Type': 'application/json'}
            }).success(function (data) {
                $scope.aMessages = data.messages;
                if (data.currentassignment) {
                    $window.location.reload();
                }
            }).error(function (data, status) {
                $scope.aError = status + ": Andmete saatmine ebaõnnestus";
            });
        };
    });

</script>

</body>
</html>
