<!DOCTYPE html>
<html lang="en" ng-app="treasure-hunt">
<head>
    <meta charset="utf-8">

    <!-- Mobile-first -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

    <title>Aarde mäng: töölaud</title>

</head>

<body style="margin: 20px">

<div id="game">
    <h2 class="text-info">Aarde mäng: töölaud</h2>
</div>

<div id="dashboard" ng-controller="result-table">
    <table class="table table-hover">
        <tr ng-repeat="t in teams">
            <th class="active"><p>{{t.name}}</p></th>
            <td ng-repeat="a in t.assignments">
                <p ng-if="a.status==='CURRENT'" class="alert-info text-center">{{a.status}} <span class="glyphicon glyphicon-star-empty"></span></p>
                <p ng-if="a.status==='WAITING'" class="alert-warning text-center">{{a.status}}</p>
                <p ng-if="a.status==='COMPLETED'" class="alert-success text-center">{{a.status}}<br><span class="glyphicon glyphicon-hourglass"></span>{{a.completedIn}}</p>

                <p ng-if="a.startTime"><span class="glyphicon glyphicon-play"></span> {{a.startTime}}</p>
                <p ng-if="a.endTime"><span class="glyphicon glyphicon-flag"></span> {{a.endTime}}</p>
                <p ng-if="a.tries"><span class="glyphicon glyphicon-refresh"></span> {{a.tries}}</p>
            </td>
        </tr>
    </table>
</div>

<script charset="UTF-8">
    var app = angular.module("treasure-hunt", []);
    var gameId = 1;
    var url = "http://localhost:8080/api/games/" + gameId;

    app.controller("result-table", function ($scope, $http) {
        $http.get(url).success(function (data) {
            $scope.teams = data;
        }).error(function (data, status) {
            $scope.error = status + ": request failed";
        });
    });
</script>

</body>
</html>
