<!DOCTYPE html>
<html lang="et">
<head>

    <meta charset="utf-8">

    <!-- Mobile-first -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

    <title>Töölaud: Aardemäng TÜK's</title>

</head>

<body style="margin: 20px" ng-app="treasure-hunt">

<!-- div>
    <h2 class="text-info">Töölaud: Aardemäng TÜK's</h2>
</div-->

<div ng-controller="result-table">
    <div class="alert alert-danger" style="margin-top: 10px" ng-if="error">
        <p>{{error}}</p>
    </div>

    <table class="table table-hover">
        <tr ng-repeat="t in teams">
            <th class="active"><p>{{t.name}}</p><p>{{t.timeInGame}}</p></th>
            <td ng-repeat="a in t.assignments">
                <p ng-if="a.status.code==='CURRENT'" class="alert-info text-center">{{a.status.text}} <span
                        class="glyphicon glyphicon-star-empty"></span></p>
                <p ng-if="a.status.code==='WAITING'" class="alert-warning text-center">{{a.status.text}}</p>
                <p ng-if="a.status.code==='COMPLETED'" class="alert-success text-center">{{a.status.text}}<br><span
                        class="glyphicon glyphicon-hourglass"></span>{{a.completedIn}}</p>

                <p ng-if="a.startTime"><span class="glyphicon glyphicon-play"></span> {{a.startTime}}</p>
                <p ng-if="a.endTime"><span class="glyphicon glyphicon-flag"></span> {{a.endTime}}</p>
                <p ng-if="a.tries"><span class="glyphicon glyphicon-refresh"></span> {{a.tries}}</p>
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript" charset="UTF-8">

    function getParameter(theParameter) {
        var params = window.location.search.substr(1).split('&');

        for (var i = 0; i < params.length; i++) {
            var p = params[i].split('=');
            if (p[0] == theParameter) {
                return decodeURIComponent(p[1]);
            }
        }
        return false;
    }

    var app = angular.module("treasure-hunt", []);
    var gameId = getParameter("gameId");
    var url = "/api/games/" + gameId;

    app.controller("result-table", function ($scope, $http) {
        $http.get(url).success(function (data) {
            $scope.teams = data;
        }).error(function (data, status) {
            $scope.error = status + ": Andmete pärimine ebaõnnestus";
        });
    });

</script>

</body>
</html>
